<div class="container">
    <div class="status" *ngIf="status">
        <span>{{status}}</span>
    </div>
    <img class="image" [src]="urlImg"/>
    <div class="title">
        <span>{{title}}</span>
    </div>
    <div class="scoreContainer">
        <fa-icon style="color: yellow;" [icon]="faStar"*ngIf="score"></fa-icon>
        <p style="color: white;" *ngIf="score">{{score}}</p>
    </div>
    <fa-icon (click)="delete()" style="color: red; font-size: 20px; cursor: pointer;" [icon]="faTrashAlt"></fa-icon>
</div>
