<div class="container">
    <div class="searchContainer">
        <div>
            <h1 class="logo">AttractionHub</h1>
            <p style="color: white;">search for movies,series,animes,docs...</p>
        </div>
        <div class="hubContainer">
            <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
                <mat-button-toggle  value="red">FILM</mat-button-toggle>
                <mat-button-toggle  value="green">SERIES</mat-button-toggle>
                <mat-button-toggle  value="blue">ANIME</mat-button-toggle>
                <mat-button-toggle   value="blue">DOCS</mat-button-toggle>
            </mat-button-toggle-group>
            <input class="input" placeholder="Search"/>
            <div class="attractionContainer">
                <img class="image" src="https://cdn.myanimelist.net/images/anime/1899/117237.jpg"/>
                <img class="image" src="https://cdn.myanimelist.net/images/anime/12/43369.jpg"/>
                <img class="image" src="https://cdn.myanimelist.net/images/anime/10/47347.jpg"/>
                <img class="image" src="https://cdn.myanimelist.net/images/anime/1899/117237.jpg"/>
                <img class="image" src="https://cdn.myanimelist.net/images/anime/12/43369.jpg"/>
                <img class="image" src="https://cdn.myanimelist.net/images/anime/1899/117237.jpg"/>
                
            </div>
        </div>
    </div>
</div>
