<app-header-logged [user]= "user"></app-header-logged>
<div class="container">
    <div class="titleContainer">
        <h1 style="color: white;">MY LISTS</h1>
    </div>
    <mat-button-toggle-group>
        <mat-button-toggle (click)="onClick('all')" checked="true">ALL</mat-button-toggle>
        <mat-button-toggle (click)="onClick('movie')">MOVIES</mat-button-toggle>
        <mat-button-toggle (click)="onClick('serie')">SERIES</mat-button-toggle>
        <mat-button-toggle (click)="onClick('anime')">ANIMES</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="attractionContainer">
        <div class="itemContainer" *ngFor="let item of list;" (click) = "onAtt(item.id)" >
            <app-attraction-item [status]="item.status" [score]="item.score" [urlImg]="item.urlImg" [title]="item.title" ></app-attraction-item>
        </div>
        
    </div>
   
</div>
