<div class="container">
    <div class="formContainer">
        <img class="logo" src="../../../assets/logoattractionhubBlue.png"/>
        <form class="form" [formGroup] = "user" (ngSubmit) = "onSubmit()">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <div class="button-container">
                <a routerLink="/login" style="font-family: Roboto;">Already have an account?</a>
                <button mat-raised-button color="primary" type="submit" [disabled]="!user.valid">SIGN UP</button>
            </div>
        </form>
    </div>
</div>